---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="img/img_00.jpg" />
    <meta
      name="description"
      property="og:description"
      content="A page dedicated to the cutest Bluetooth Roaming speaker you've ever seen."
    />
    <title>Radio-Active | Banana Co. </title>
  </head>
  <body>
    <header class="landing-header">
      <Hero
        title="The Radio-Active Spider Speaker"
        text="What started as a simple drawing for a college class turned into a massive self-taught project. By delegating tasks within my team, we accomplished this prototype within 2 months. "
        imgSrc="img/img_00.jpg"
      />
    </header>
    <main>
      <Section
        title="Design/Modeling"
        text="After agreeing on the project goal, I set out on drawing up the schematic for the robot. Once the drawing was complete, my team and I designed and redesigned 9 different parts to print for the robot. Lastly, we anticipated what materials we'd need to get it working and what electronics we'd need to reach our goal."
        imagePosition="right"
        imgSrc="/img/img_01.jpg"
        imgAlt="Img Alt"
      />

      <Section
        title="Printing/Assembly"
        text="Printed on my home machine, we ensured durability and lightweight nature with 50% infill. After all parts had been printed and cleaned, I assembled each arm using MG90 servos to actuate as joints. After all pieces were fit together successfully, each wire was meticulously fed into the main body cavity and secured accordingly. Lastly, a 3000mAh battery was secured into the chassis and wired via buck converter to the main Nano board, powering the main microcontrollers and servos without burning anything out."
        imagePosition="left"
        imgSrc="img/img_02.jpg"
        imgAlt="Img Alt"
      />

      <Section
        title="Troubleshooting/Presentation"
        text="Since I led the team effort, I had the honor of troubleshooting every problem that arose when wiring the speaker and Bluetooth ESP32 microcontroller to the battery. However, after a few late nights searching GitHub and relearning concepts, I fixed the coding issue and got all boards to communicate with eachother while only using the supplied power. Finally, I closed up his lid and ensured all wires were seated safely, and presented him to my engineering class. Allowing him to roam freely demonstrated his obstacle-awareness and not only earned me the highest project grade in class, but the respect and curiosity of my peers. "
        imagePosition="right"
        imgSrc="img/img_03.jpg"
        imgAlt="Img Alt"
      />
    </main>
  </body>
  <Footer
    title="Radio-Active Spider Speaker"
    address="Click here to access the drive of photos for this project :)"
    text="Radio-Active Project | CODENAME: ARACHNID"
  />
</html>
